.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    background-color: #222;
    padding-block: 20px;
}
.title{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 24px;
    padding-left: 16px;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation >li{
    list-style-type: none;
    padding: 16px;
}
.navigation >li>a{
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.navigation >li>a:hover{
    color: orange;
    transition: all .2s ease-in-out;
}
.searchBar{
    margin-right: 16px;
}
.search{
    width: 200px;
    height: 40px;
    background-color: transparent;
    border-radius: 24px;
    border-color: orange;
    margin-right: 16px;
    padding: 16px;
    border-width: 0.3;
    color: orange;
}
.btnSearch{
    width: 64px;
    height: 40px;
    background-color: transparent;
    border-radius: 24px;
    border-color: orange;
    color: orange;
}
.btnSearch:hover{
    color: white;
    border-color: white;
    background-color: orange;
    transition: all .2s ease-in-out;
}